@using BookStore.Web.Models.Comments
@using BookStore.Web.Models.Books


@model BookStore.Web.Models.Books.BookDetailViewModel

@{
    ViewBag.Title = "BookDetails";
}

@Html.Partial("_HeadImagePartial")

<div class="container">

    <div class="row book-detail-container">

        <div class="col-md-4">
            <img class="book-detali-img" src="@(Model.BookImageUrl)" />
        </div>
        <div class="col-md-8">
            <h2>@Html.DisplayFor(model => model.Title)</h2>
            <h3>@Html.DisplayFor(model => model.Author)</h3>
            <p>@Html.DisplayFor(model => model.Description)</p>
            <p>@Html.DisplayFor(model => model.Price)</p>

            <p>@Html.DisplayFor(model => model.Rathing)</p>
            <p>@Html.DisplayFor(model => model.CategoryName)</p>
            <p>added on @Html.DisplayFor(model => model.CreatedOn) <em>by @Model.OwnerUserName</em></p>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <h4>Comments</h4>

                @if (User.Identity.IsAuthenticated)
                {
                    @Html.Partial("_BookCommentPartial", new BookCommentViewModel(Model.Id))
                }

                <div id="comments">
                    @if (Model.Comments.Count != 0)
                    {
                        foreach (var comment in Model.Comments)
                        {
                            @Html.Partial("_CommentPartial", comment)
                        }
                    }
                    else
                    {
                        <p>No comments</p>
                    }
                </div>
            </div>

        </div>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/jqueryval")
}