@using BookStore.Web.Models.Books

@model ICollection<BooksViewModel>
@{
    ViewBag.Title = "Books";
}

@Html.Partial("_HeadImagePartial")

<div class="container">
    <br />
    <div class="row">
        <div class="col-md-10">
            <h2>Books</h2>
        </div>
        <div class="col-md-2">
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("Add new book", "AddBook", "Books", new { @class = "btn btn-success " })
            }
        </div>

    </div>

    <div class="row books-container">
        @foreach (var book in Model)
        {
            <div class="col-md-3">
                <div class="books-book-container text-center">
                    <div class="book-category">@book.CategoryName</div>
                    <img src="@(book.BookImageUrl)" class="books-book-image" />
                    <h4 class="book-title">@book.Title</h4>
                    <p>by <span>@book.Author</span></p>
                    <p class="book-price">@book.Price  lv.</p>
                    <p>added on @Html.DisplayFor(x => book.CreatedOn) <em>by @book.OwnerUserName</em></p>

                    <p><a href="/books/bookdetails/@book.Id.ToString()" class="btn btn-sm btn-success" role="button">Read more...</a></p>
                </div>
            </div>
        }
    </div>
</div>

